html, html body{
  font-size: 20px;
}
h1, h2, h3, h4, .h1, .h2, .h3, .h4{
  font-family: 'Rubik Mono One', sans-serif;
}

h1 {
  font-size: 1.5rem;
}

.press-metadata {
  font-size: 0.85rem;
}
a{
  text-decoration: underline;
}
a:visited{
  color: #690079;
}

.logo{
  color: #E72501;
  font-size: 3rem;
}
.menu{
  line-height: 2rem;
  font-size: 1rem;
}
.menu a{
  margin-right: 20px;
}

.text, p{
  font-family: georgia;
}

.header{
  padding-top: 30px;
}

.page-header{
  margin: 0px 0px 40px 0px;
}

.created-date{
  font-family: georgia;
  font-size: 30px;
  color: #ccc;
}

.tns{
  margin: 5px 0px 10px 0px;
}
.tn img{
max-width: 100px;
}
.tn{
  margin: 5px;
  display: inline-block;
  border: 3px solid white;
  cursor: pointer;
  color: #333;
  position: relative;
}

.tn .type{
  position: absolute;
  bottom: 0px;
  right: 3px;
  color: white;
  font-weight: bold;
}

.tn.active{
  border: 3px solid #E72501;
}
