<html>
  <head>
  <meta charset=utf8>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Rubik+Mono+One" rel="stylesheet">
  <link rel="stylesheet" href="/style.css">

  </head>
  <body>
    <div class="container">
      <div class="row header">
        <div class="col-xs-6">
        <div class="menu">
            {% include menu.html %}
          </div>
        </div>
        <div class="col-xs-6">
          <div class="pull-right">
            <h1 class="logo">
              РАБФАК
            </h1>
          </div>
        </div>
      </div>
      <div class="row page-header">
        <div class="col-xs-12">
          <h1>{{page.name}}</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          {% if page.officialyoutube %}
            <div class="embed-responsive embed-responsive-4by3">
              <iframe class='embed-responsive-item' src="https://www.youtube.com/embed/{{page.officialyoutube}}" frameborder="0" allowfullscreen></iframe>
            </div>
          {% endif %}
          {% if page.liveyoutube %}
            <hr>
            <h2>Живое исполнение</h2>
            {% for id in page.liveyoutube %}
              <iframe width="390" height="315" src="https://www.youtube.com/embed/{{id}}" frameborder="0" allowfullscreen></iframe>
            {% endfor %}
          {% endif %}
          {% include yasong.html %}
        </div>

        <div class="col-xs-6">
          <div class="text">
            {{content}}
          </div>

        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
            {% include footer.html %}
        </div>
      </div>
    </div>
  </body>
</html>
